.button {
    width: 7rem;
    background-color: #f0ecec;
    display: block;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1.2em;
    text-align: center;
    border-radius: 10px;
    background: transparent;
    transition: 0.3s all ease-out;
}

.button:hover {
    color: rgb(133, 133, 154);
    background-color: rgb(11, 65, 71);
}